/*Colores*/
$color-primario: #E63946;
$color-secundario: #1d3557;
$color-hover: #ffcc00;
$color-fondo: #eeeeee;
$blanco: whitesmoke;

/*Tipografías*/
$fuente-principal: Arial, Helvetica, sans-serif;

/*Tamaños*/
$ancho-max: 1200px;