@use 'variables';

header {
  padding: 10px;
  text-align: center;
}

.logotipoHeader {
  display: block;
  max-width: 300px;
  margin: 1.25rem auto;
  @include responsive-img;
}

.TituloInicio {
  @extend %titulo-grande;
  text-align: center;
  font-family: $fuente-principal;
}

/*NAV*/
nav {
  background-color: $color-primario;
  padding: 1rem;
  @include flex-center;
}

nav ul {
  list-style: none;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  text-decoration: none;
  color: $blanco;
  padding: 0.3rem 0.6rem;
  font-family: $fuente-principal;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: $color-hover;
}

.contenedor-horizontal {
  display: flex;
  justify-content: center;
}

.categorias {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.categorias a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: transform 0.3s;
}

.categorias a:hover {
  transform: scale(1.05);
}

.categoria-img {
  width: 200px;
  height: auto;
  background-color: $color-primario;
  padding: 1rem;
  border-radius: 12px;
}

.seccionCategorias{
  text-align: center;
  margin-top: 2rem;
}

.EsloganTitulo{
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.Subeslogan{
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}
